body {
	margin: 0;
	background-color: $white;
	color: $text-color;
	font-family: 'Open Sans', sans-serif;
}

section {
	background-color: $white;
	color: $text-color;

	&.is-primary {
		background-color: $primary;
		color: $white;
	}
}